body {
  transition: all 3s ease-in-out;
  transition: 2s;
  color: aliceblue;
  margin: 0%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 40vh 60vh;
  grid-template-areas:
    "last last"
    "tabela pie";
}

#last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: last;
  background-color: lightgray;
}
#tabela {
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-left: 15px;
  grid-area: tabela;
  background-color: #22333b;
  padding: 15px;
}
#pie {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: pie;
  background-color: #461220;
}

p {
  box-shadow: 10px;
  text-shadow: 10px black;
  color: aliceblue;
}
.lab {
  width: 265px;
  height: 100px;
  border: 3px solid #1f1f1f;
}

#h1 {
  color: black;
}
